body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map-container {
    height: 500px;
    width: 80%;
    margin-bottom: 20px;
}

#map {
    height: 100%;
    width: 100%;
}

#controls {
    margin-bottom: 20px;
}

#results-container {
    width: 80%;
}

#results {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}